.Rproj.user
.Rhistory
.RData
.Ruserdata
/Data
/Resultados
admitidos_graphs.R
admitidos-graphs.R
admitidos-pregrado.R
aspirantes-graphs.R
aspirantes-pregrado.R
depto4.json
DIVIPOLA_20160930.csv
DIVIPOLA_20160930.xlsx
funciones.R
maps_adm_graphs.R
maps_adm_script.R
maps_asp_graphs.R
maps_asp_script.R
mpio2.json
mpio5.json
boy.png
girl.png